<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 class="index-h">Welcome to V-Blog</h1>
  <nav><a class="index-a" href="/blog">Articles</a></nav>
  
</body>
</html>