<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="header">
     <a href="/blog"><h1>Blog</h1></a>
     <nav>
       <a href="/">Home</a>
       <a href="">Articals</a>
       <a href="">Contact</a>
     </nav>
  </header>

  <main>

  </main>

  <footer>

  </footer>
</body>
</html>
